/*头部样式*/

.am-nav-pills>li:first-child {
	position: relative;
}

.am-nav-pills>li:first-child:after {
	content: "-929-";
	position: absolute;
	font-size: 12px;
	top: 35px;
	left: 20px;
}

.am-nav-pills>li:nth-child(2) {
	position: relative;
}

.am-nav-pills>li:nth-child(2):after {
	content: "-You-";
	position: absolute;
	font-size: 12px;
	top: 35px;
	left: 12px;
}

.am-nav-pills>li:nth-child(3) {
	position: relative;
}

.am-nav-pills>li:nth-child(3):after {
	content: "-Girl-";
	position: absolute;
	font-size: 12px;
	top: 35px;
	left: 12px;
}

.am-nav-pills>li:nth-child(4) {
	position: relative;
}

.am-nav-pills>li:nth-child(4):after {
	content: "-Time-";
	position: absolute;
	font-size: 12px;
	top: 35px;
	left: 15px;
}

.am-nav-pills>li:nth-child(5) {
	position: relative;
}

.am-nav-pills>li:nth-child(5):after {
	content: "-Name-";
	position: absolute;
	font-size: 12px;
	top: 35px;
	left: 21px;
}

.am-nav-pills>li:last-child{
	position: relative;
}

.am-nav-pills>li:last-child:after {
	content: "-Word-";
	position: absolute;
	font-size: 12px;
	top: 35px;
	left: 7px;
}


.am-content{
	padding-top: 3rem;
}
.am-personal{
	float: right;
    margin-right: 10px;
    list-style: none;
    height: 50px;
    line-height: 50px;
}
.am-personal>div{
	margin-right: 15px;
	float: left;
}


.am-personaCentre{
    width: 25px;
    height: 25px;
    background: #000;
    margin-top: 15px;
    border-radius: 100px;
}
.am-g-fixed>.am-u-md-6{
	margin: 1.5rem 0;
}
.blog-entry-text p{
	margin: 0;
}
.blog-entry-text p:nth-child(3){
	font-weight: bold;
}
.blog-entry-text p:last-child{
	font-size: 13px;
}
.blog-entry-img{
	padding: 0;
    width: 250px;
    height: 160px;
}
.blog-entry-img img{
    width: 100%;
    height: 100%;
    padding: 0;
        margin: 0 12%;
}